body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #f4f4f4;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    float: left;
    margin-top: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#main {
    padding: 20px 0;
}

#features,
#projeto,
#jogo,
#contato {
    padding: 20px 0;
    background: #f4f4f4;
    border-bottom: #e8491d 3px solid;
}

h2, h3 {
    color: #e8491d;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
